@keyframes main-animation{
/*     0%{
        opacity: 0;
        transform: translateY(5rem);
        border-top: 0px solid $primary-color;
    }

    50%{
        transform: translateY(-10rem);
        border-top: 1px solid $primary-color;
    }

    100%{
        opacity: 1;
        transform: translateY(0);
        border-top: 2px solid $primary-color;
    }
 */

 0%{
     opacity: 0;
     transform: translateX(50%);
     border-top: 0px solid $primary-color;
 }

 50%{
     transform: translateX(-5%);
     border-top: 1px solid $primary-color;
 }

 100%{
     transform: translateX(0);
     border-top: 2px solid $primary-color;
 }
}